WSC/xml-resources/web-service-references/NumberS/wsdl/localhost_8080/WS/NumberS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cuongacquy.ptit/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cuongacquy.ptit/" name="NumberS">
<types>
<xsd:schema>
<xsd:import namespace="http://cuongacquy.ptit/" schemaLocation="http://localhost:8080/WS/NumberS?xsd=1"/>
</xsd:schema>
</types>
<message name="getNumber">
<part name="parameters" element="tns:getNumber"/>
</message>
<message name="getNumberResponse">
<part name="parameters" element="tns:getNumberResponse"/>
</message>
<message name="greatestNumber">
<part name="parameters" element="tns:greatestNumber"/>
</message>
<message name="greatestNumberResponse">
<part name="parameters" element="tns:greatestNumberResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="NumberS">
<operation name="getNumber">
<input wsam:Action="http://cuongacquy.ptit/NumberS/getNumberRequest" message="tns:getNumber"/>
<output wsam:Action="http://cuongacquy.ptit/NumberS/getNumberResponse" message="tns:getNumberResponse"/>
</operation>
<operation name="greatestNumber">
<input wsam:Action="http://cuongacquy.ptit/NumberS/greatestNumberRequest" message="tns:greatestNumber"/>
<output wsam:Action="http://cuongacquy.ptit/NumberS/greatestNumberResponse" message="tns:greatestNumberResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://cuongacquy.ptit/NumberS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://cuongacquy.ptit/NumberS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="NumberSPortBinding" type="tns:NumberS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="greatestNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NumberS">
<port name="NumberSPort" binding="tns:NumberSPortBinding">
<soap:address location="http://localhost:8080/WS/NumberS"/>
</port>
</service>
</definitions>